page-conformation {
    .label-md {
        margin: 7px 8px 0px 0;
    }

    .map-icon-label .map-icon {
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        white-space: nowrap;
        padding-bottom: 5px;
    }

}
