<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Activity List
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" class="grey lighten-3">
  <div class="text-center" *ngIf="showLoader">
    <ion-spinner name="crescent" center></ion-spinner>
    <h2>fetching data</h2>
  </div> 
  <div class="list-group" *ngIf="!showLoader">
    <a href="#" *ngFor="let item of items; let i = index" class="list-group-item list-group-item-action flex-column align-items-start card mb-3">
      <div class="d-flex w-100 justify-content-between py-3">
        <h4 class="mb-3 font-weight-bold">{{ item.title }}</h4>
        <small>{{ item.time }}</small>
      </div>
      <p class="mb-1">
        {{ item.des }}
        <br>
        <small>{{ item.sml }}</small>
      </p>
    </a>
  </div>

</ion-content>
